body {
    background-color: #f5f5f5;
    font-family: 'Gilroy', serif;
}

.blog-header-logo img {
    width: 250px;
}

.site-header {
    background-color: #f5f3f4;
    font-weight: normal;
}

.site-header a {
    color: black;
    text-transform: uppercase;
    font-size: 10pt;
    text-decoration: none;
    font-weight: 300;
    padding-bottom: 0!important;
    border-bottom: 1px solid transparent;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.site-header a.active {
    color: #8512af;
}

.site-header a:not(.search-item):hover {
    border-bottom-color: #8512af;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.swiper-container {
    width: 100%;
}

.slider-post {
    position: relative;
}

.slider-post::before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, .2);
}

.slider-post-title {
    font-family: 'ArnoPro', serif;
    font-weight: 300;
    color: #fff;
    font-size: 33pt;
    position: absolute;
    width: 50%;
    line-height: 30pt;
    bottom: 20%;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    left: calc(7.5%);
}

.slider-post-tags, .slider-post-hashtag {
    position: absolute;
    left: calc(7.5%);
    bottom: 10%;
    color: #fff!important;
    text-transform: uppercase;
}

.slider-post-tags a {
    font-size: 6pt;
    color: #fff;
}

.slider-post-hashtag {
    font-size: 6pt;
    left: initial;
    right: calc((100% - 1070px) / 2);
}

.slider-post-hashtag:active, .slider-post-hashtag:focus, .slider-post-hashtag:hover {
    color: #fff;
}

.grid {
    margin-top: 2px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    width: 70%;
}

.grid .col-md-6:nth-of-type(odd), .grid .col-md-3 {
    padding-right: 0;
    padding-left: 3px;
}

.grid .col-md-6:nth-of-type(even) {
    padding-right: 0;
    padding-left: 3px;
}

.tile {
    border: 1px solid #f4f4f4;
    box-shadow: 0 10px 10px #eee;
    margin-bottom: 3px;
    padding: 20px;
    position: relative;
    background-size: 51%;
    background-position: right;
    background-repeat: no-repeat;
}

.tile-medium, .tile-small {
    height: 130px;
    color: #fff;
}

.tile-text {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    background-color: #01c0b0;
    width: 50%;
    font-family: 'ArnoPro', serif;
}

.tile-small .tile-text {
    width: 65%;
}

.tile-label, .post-label {
    font-family: 'Gilroy', sans-serif;
    font-size: 6pt;
    text-transform: uppercase;
}

.tile-label {
    margin-top: 15px;
    font-size: 5.6pt;
}

.tile-medium .tile-text, .tile-small .tile-text {
    margin-bottom: -0.5px;
}

.tile-title {
    line-height: 12pt;
    margin-top: 10px;
    font-size: 14pt;
    height: 50px;
}

.tile-title a {
    color: black;
    text-decoration: none;
    font-size: 14pt;
}

.tile-large .tile-text, .tile-square .tile-text {
    background-color: #fff;
    color: black;
    position: initial;
    width: 100%;
    top: initial;
    padding: 10px 50px;
    left: initial;
    height: 150px;
}

.tile-square .tile-text {
    padding: 10px;
}

.tile-large .tile-label, .tile-square .tile-label, .post-label {
    color: #999;
}

.tile-large .tile-title, .tile-square .tile-title, .post-title {
    margin-top: 10px;
    line-height: 13pt;
    font-size: 13pt;
}

.tile-large .tile-title {
    width: 48%;
    line-height: 20pt;
}

.post a, .post a:active, .post a:hover {
    text-decoration: none!important;
    color: black;
}

.post-title, .columnist-post-title {
    font-family: ArnoPro, serif;
}

.tile-large .tile-date, .tile-square .tile-date, .post-date {
    margin-top: 20px;
    font-family: 'Gilroy', sans-serif;
    font-size: 8pt;
    color: #888;
}

.views-count::before {
    content: "";
    display: inline-block;
    width: 15px;
    margin-left: 10px;
    margin-right: 2px;
    height: 13px;
    margin-top: -3px;
    background-image: url("../img/eye.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .4;
    vertical-align: middle;
}

.tile-img, .post-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
}

.post-img {
    background-image: url('../img/post/default-post.png');
}

.native-rklm {
    width: 80%;
    background-color: #9900cc;
    padding: 160px 0;
    color: #fff;
    font-size: 20pt;
    text-align: center;
    margin: 50px auto;
}

.native-rklm.mobile {
    display: none;
}

.post-rklm {
    background-color: #9900cc;
    height: 400px;
}

.post-rklm div {
    color: #fff;
    font-size: 17pt;
    text-align: center;
    font-weight: 300;
    line-height: 400px;
}

.new-posts {
    /*background-image: url('../storage/images/1520х289 (8).jpg');*/
    background-repeat: no-repeat;
    background-position: center 80px;
    background-size: 157%;
}

.page-heading-h2 {
    font-size: 30pt;
    font-family: 'ArnoPro', serif;
    text-align: center;
    font-weight: normal;
    margin: 0 auto 20px auto;
}

.post {
    margin-bottom: 20px;
}

.tile:hover, .post:hover {
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.post-details {
    background-color: #fff;
    color: black;
    position: initial;
    width: 100%;
    top: initial;
    padding: 20px;
    left: initial;
    height: 150px;
}

.posts-row:first-of-type {
    /*margin-top: 100px;*/
}

.posts-row .col-md-3 {
    padding-left: 10px;
    padding-right: 10px;
}

.comode-tv-slider-wrapper {
    background-image: url('../storage/images/1520х289 (5).jpg');
    background-position: left;
    background-repeat: repeat-y;
    background-size: 200%;
    padding: 80px 50px 30px 50px;
    position: relative;
}

.comode-tv-slider {
    max-width: 90%;
    margin: 0 auto;
}

.comode-tv .post-details {
    background-color: transparent;
}

.comode-tv .post-title, .comode-tv .post-label {
    color: #fff;
}

.comode-tv .post {
    padding: 0 20px;
}

.comode-tv .post {
    box-shadow: none;
    margin: 0;
    padding-bottom: 0;
}

.slick-arrow {
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    top: calc(30% - 15px);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.article-body .slick-arrow {
    filter: brightness(0.3);
    left: 0;
    top: calc(50% - 20px);
}

.article-body .slick-next {
    left: initial!important;
    right: 0;
}

.slick-prev {
    background-image: url('../img/arrow-left.svg');
    left: -50px;
}

.slick-arrow:active, .slick-arrow:visited, .slick-arrow:focus,
.comode-tv-slider a:active, .comode-tv-slider a:visited, .comode-tv-slider a:focus {
    border: none!important;
    outline: none!important;
}

.slick-next {
    background-image: url('../img/arrow-right.svg');
    right: -50px;
}

.comode-tv .post-img {
    position: relative;
}

.comode-tv .post-img:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    vertical-align: middle;
    margin: auto;
    width: 50px;
    height: 50px;
    background-image: url('../img/play.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 1;
}

.columnists {
    margin-bottom: 50px;
}

.columnist-post {
    height: 165px;
    overflow: hidden;
    box-shadow: 0 10px 10px #eee;
    white-space: nowrap;
    background-color: #fff;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

.columnist-post-img, .columnist-post-details {
    width: 50%;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
}

.columnist-post-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.columnist-post-details {
    padding: 20px;
}

.columnist-post-title {
    font-size: 15pt;
    line-height: 17pt;
}

.columnist-post-author {
    font-size: 9pt;
    color: #999;
    margin-top: 30px;
    position: absolute;
    bottom: 50px;
}

.columnist-post-author:before {
    content: "";
    display: inline-block;
    width: 12px;
    margin-right: 2px;
    height: 8px;
    margin-top: -3px;
    background-image: url("../img/user.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .4;
    vertical-align: middle;
}

.columnist-post-date {
    font-size: 8pt;
    color: #999;
    margin-top: 15px;
    position: absolute;
    bottom: 20px;
}

#category .post-details {
    position: relative;
}

#category .post-date {
    position: absolute;
    bottom: 20px;
}

.columnists .col-md-6 {
    padding-right: 5px;
    padding-left: 5px;
}

.columnists a {
    text-decoration: none;
    color: #000000;
}

.show-more {
    background-color: black;
    border-radius: 30px;
    padding: 12px 15px;
    text-align: center;
    color: #fff;
    font-family: Gilroy, sans-serif;
    border: none;
    font-size: 10pt;
    display: block;
    margin: 10px auto;
}

.show-more:active, .show-more:focus {
    border: none;
    outline: none;
}

.newsletter {
    padding: 70px 50px;
    background-color: #4546b0;
    color: #fff;
    margin: 50px 0;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url('../storage/images/newsletter.jpg');
}

.newsletter .form-group {
    margin-right: 10px;
}

.newsletter input {
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    width: 100%;
}

.newsletter input::placeholder {
    color: #fff;
    font-size: 11pt;
}

.newsletter input:focus, .newsletter input:active, .newsletter input:visited {
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
}

.newsletter-title {
    font-family: ArnoPro, serif;
    color: #fff;
    margin-top: 20px;
    font-weight: 300;
    font-size: 30pt;
    line-height: 30pt;
    margin-bottom: 20px;
}

.btn-blue {
    background-color: #25245d;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 10pt;
}
.btn-blue:hover {
    color: #fff;
}

.newsletter .form-group {
    width: 35%;
}

.footer-ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.footer-item {
    font-size: 11pt;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.footer-item a {
    color: black;
}

footer {
    text-align: center;
    padding: 5px 0;
    background-color: #25245d;
    color: #fff;
    font-size: 10pt;
    font-weight: 300;
}

.social-item {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;
    margin-left: 10px;
}

.social-telegram {
    background-image: url('../img/social/telegram.svg');
}

.social-facebook {
    background-image: url('../img/social/facebook.svg');
}

.social-instagram {
    background-image: url('../img/social/instagram.svg');
}

.social-youtube {
    background-image: url('../img/social/youtube.svg');
}

.article-header {
    position: relative;
    color: #fff;
    min-height: 350px;
}

.article-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    filter: brightness(60%) contrast(70%);
}

.article-categories a, .article-tags a {
    color: #fff;
    font-size: 10pt;
    text-shadow: 1px 1px 5px #555;
}

.article-header h1 {
    font-size: 35pt;
    font-family: ArnoPro, serif;
    font-weight: 300;
    line-height: 35pt;
    margin: 100px 0 20px 0;
    width: 50%;
}

.article-date {
    font-size: 10pt;
}

.article-date .views-count {
    font-size: 10pt;
}

.article-date .views-count:before {
    opacity: 1;
    background-image: url("../img/eye-white.svg");
}

.article-audio-label {
    font-weight: 500;
}

.article-audio-label:after {
    content: "";
    background-image: url("../img/audio.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 45px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 7px;
    height: 20px;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 30px;
    font-size: 10pt;
}

.breadcrumb a {
    color: #222;
    font-size: 10pt;
}

.breadcrumb a:nth-of-type(3) {
    text-decoration: none;
    cursor: text;
}

.article-body p, .article-body a {
    font-size: 16pt!important;
}

.js-powrMark {
    display: none!important;
}

audio {
    width: 100%;
    margin-bottom: 20px;
}

.jssocials-share-link {
    opacity: .8;
    border-radius: 50%;
    background-color: transparent!important;
    padding: .1em!important;
}

.jssocials-share-link:hover {
    opacity: 1;
}

img.jssocials-share-logo {
    height: 30px!important;
}

#category h1 {
    font-size: 35pt;
    margin: 40px 0;
    text-transform: uppercase;
    position: relative;
}

#category h1:before {
    content: "";
    display: block;
    max-width: 34rem;
    background: #ccc;
    width: 22%;
    position: absolute;
    top: 25px;
    height: 1px;
}

#category h1:after {
    content: "";
    display: block;
    max-width: 34rem;
    background: #ccc;
    width: 22%;
    position: absolute;
    right: 0;
    top: 25px;
    height: 1px;
}

#category .pagination {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.page-item.active .page-link {
    background-color: #25245d;
    border-color: transparent;
}

.site-header.fixed {
    position: fixed;
    top: -42px;
    z-index: 10;
    left: 0;
    right: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.site-header.active {
    top: 0!important;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.search-item {
    position: relative;
}

.search-input {
    width: 0;
    padding: 5px 0;
    border: none;
    border-radius: 0;
    background-color: #f4f4f4;
    border-bottom: 1px solid #000!important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.search-page .search-input {
    width: 250px;
}

.search-input.active {
    width: 250px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.search-input:active, .search-input:focus {
    outline: none;
}

.search-item form {
    position: absolute;
    top: 3px;
    right: 30px;
}

.search-form-mobile {
    display: none;
}

.swiper-slide {
    height: auto;
}

.swiper-slide img {
    width: 100%;
}

.tile-background-mobile {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 160px;
    margin-bottom: 10px;
}

.close, .menu {
    display: none;
}

#darkbg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
    display: none;
}

.swiper-pagination-bullet {
    background-color: #fff!important;
    opacity: .6!important;
    width: 6px!important;
    height: 6px!important;
}

.swiper-pagination-bullet-active {
    opacity: 1!important;
    background-color: #fff!important;
}

.socials-mobile {
    display: none;
}

li.page-item {
    display: none;
}

.page-item:first-child,
.page-item:nth-child(2),
.page-item:nth-child(3),
.page-item:nth-child(4),
.page-item:nth-last-child(2),
.page-item:nth-last-child(3),
.page-item:last-child,
.page-item.active,
.page-item.disabled {

    display: block;
}

.blog-header-content {
    text-align: center;
    padding: 30px 0;
}

.slick-dots {
    left: 0;
    right: 0;
}

.slick-dots li button::before {
    font-size: 15pt!important;
}
