@media (max-width: 768px) {
    .blog-header-content {
        padding: 0;
    }

    .grid {
        width: 100%;
    }

    .newsletter-container {
        padding: 0;
    }

    .new-posts {
        background-image: none;
    }

    .posts-row:first-of-type {
        margin: 0;
    }

    .new-posts .col-md-4 {
        padding: 0;
    }

    .new-posts .post-img, .comode-tv .post-img {
        display: inline-block;
        width: 35%;
        height: 130px;
        vertical-align: middle;
    }

    .comode-tv .post-img {
        width: 39%!important;
    }

    .new-posts .post-title {
        font-size: 15pt;
        line-height: 14pt;
    }

    .comode-tv .post-title {
        font-size: 13pt;
        line-height: 15pt;
    }

    .comode-tv .page-heading-h2 {
        margin: 25px 20px 20px 20px;
    }

    .new-posts .post-details, .comode-tv .post-details {
        display: inline-block;
        width: 60%;
        vertical-align: middle;
    }

    .comode-tv .post-details {
        width: 59%;
        padding-left: 10px!important;
        padding-right: 0!important;
    }

    .comode-tv .post {
        margin-bottom: 20px;
        padding: 0;
    }

    .comode-tv .post-details {
        padding: 0 20px;
        height: initial;
    }

    .new-posts .post-label, .new-posts .post-date,
    .comode-tv .post-label, .comode-tv .post-date {
        display: none;
    }

    .comode-tv {
        margin-top: 20px!important;
        padding: 0;
    }

    .tile-title {
        height: initial;
    }

    .native-rklm.mobile {
        display: block!important;
        padding: 30px 0;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .tile-img, .post-img {
        height: 150px;
    }

    .native-rklm.mobile div {
        line-height: 100px;
        font-size: 24pt;
    }

    .tile-large .tile-text, .tile-square .tile-text {
        padding: 10px 20px 20px 20px;
        height: auto;
    }

    .post-rklm {
        display: none;
    }

    .slider-post-title {
        color: #fff;
        font-size: 20pt;
        width: 90%;
        line-height: 20pt;
        bottom: 30%;
        left: 7%;
        right: 0;
    }

    .slider-post-tags {
        left: 7%;
    }

    .slider-post-tags a {
        font-size: 9pt;
    }

    .swiper-button-prev, .swiper-button-next {
        display: none!important;
    }

    .slider-post-hashtag {
        right: 7%;
        font-size: 9pt;
        left: initial;
    }

    .blog-header-logo img {
        width: 35%;
    }

    .article-header h1 {
        width: 100%;
        font-size: 24pt;
        line-height: 25pt;
    }

    .article-header {
        width: 100%;
        padding: 10px!important;
    }

    img.jssocials-share-logo {
        margin: 20px 0;
        height: 36px!important;
    }

    .jssocials-share-link {
        opacity: 1!important;
        padding: .3em!important;
    }

    .breadcrumb a {
        font-size: 9pt;
    }

    .share-socials-black {
        margin: 0 auto;
        text-align: center;
    }

    .post-rklm {
        height: 150px;
    }

    .native-rklm {
        width: 100%;
        padding: 70px 0;
        margin: 30px auto;
    }

    .native-rklm-container {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .native-rklm div, .post-rklm div {
        line-height: 150px;
    }

    .tile-medium {
        margin-bottom: 0;
    }

    .tile-small {
        margin-bottom: 5px;
        background-clip: padding-box;
    }

    .tile-large .tile-title, .tile-square .tile-title, .post-title {
        font-size: 16pt;
    }

    .tile-title a {
        font-size: 14pt!important;
        line-height: 18pt!important;
    }

    .tile-large .tile-date, .tile-square .tile-date, .post-date {
        margin-top: 10px;
    }

    .post {
        margin-bottom: 0;
    }

    #article {
        padding: 1rem!important;
    }

    #article .col-md-3 {
        padding: 0;
    }

    .newsletter {
        background-image: none;
        text-align: center;
    }

    .newsletter-title {
        font-size: 18pt;
        line-height: 20pt;
        text-align: center;
    }

    .newsletter form {
        display: block!important;
    }

    .newsletter .form-group {
        width: 100%;
    }

    .hidden-mobile {
        display: none;
    }

    .footer-logo {
        display: none;
    }

    .footer-item {
        text-align: center;
        font-size: 15pt;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .socials {
        text-align: center;
        margin-bottom: 20px;
    }

    .social-item {
        width: 45px;
        height: 45px;
    }

    footer {
        font-size: 11pt;
        padding: 10px 0;
    }

    footer span {
        display: block;
    }

    .footer-ul {
        margin-bottom: 30px!important;
    }

    .search-form-mobile {
        display: block;
        position: absolute;
        top: 15px;
        left: 30px;
        margin: 0 auto;
        text-align: center;
        z-index: 2;
        background-color: #e6e6e6;
    }

    .search-form-mobile input {
        padding-left: 0!important;
        padding-right: 0!important;
        border-top: none;
        border-left: none;
        border-right: none;
        width: 0;
        background-color: #e6e6e6;
        -webkit-transition: width .3s ease;
        -moz-transition: width .3s ease;
        -o-transition: width .3s ease;
        transition: width .3s ease;
    }

    .search-form-mobile.active input {
        width: 300px;
        -webkit-transition: width .3s ease;
        -moz-transition: width .3s ease;
        -o-transition: width .3s ease;
        transition: width .3s ease;
    }

    .blog-header {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 100;
        background-color: #e6e6e6;
        padding-top: 0!important;
        padding-bottom: 0!important;
    }

    .main-content {
        padding-top: 64px;
    }

    #category h1 {
        font-size: 25pt;
    }

    #category h1:before, #category h1:after {
        width: 1rem;
    }

    .site-header:not(.fixed) {
        position: absolute;
        top: -350px;
        left: 0;
        z-index: -1;
        padding: 0 20px 40px 20px!important;
        width: 100%;
        background-color: #e6e6e6;
        display: block;
        -webkit-transition: all .4s ease-out;
        -moz-transition: all .4s ease-out;
        -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
    }

    .blog-header .main-wrapper {
        z-index: 5;
        margin-top: -1px;
        padding: 20px 0;
        background-color: #e6e6e6;
    }

    .site-header:not(.fixed).active {
        top: 63px!important;
        -webkit-transition: all .4s ease-out;
        -moz-transition: all .4s ease-out;
        -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
    }

    .slider-post {
        height: 100%;
    }

    .site-header:not(.fixed) a:active, .site-header:not(.fixed) a:visited, .site-header:not(.fixed) a:focus {
        border-bottom: none!important;
        text-decoration: none!important;
    }

    .close {
        display: block;
        position: absolute;
        left: 15px;
        top: 15px;
        background-image: url('../img/close.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 25px;
        height: 25px;
    }

    .menu {
        display: block;
        position: absolute;
        right: 30px;
        top: 22px;
        background-image: url('../img/menu.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 25px;
        height: 25px;
    }

    .menu.active {
        background-image: url('../img/close.svg');
        background-size: 60%;
    }

    .site-header a {
        display: block!important;
        text-align: left;
        font-size: 11pt;
        margin-bottom: 0;
        padding-top: 0!important;
        font-weight: 300;
    }

    .search-icon {
        width: 15px;
    }

    .site-header .search-item {
        display: none!important;
    }

    .swiper-container img {
        height: 400px;
        position: absolute;
        width: auto;
    }

    .swiper-container {
        width: 100%;
        height: 400px;
        margin-top: 64px;
    }

    .comode-tv-slider-wrapper {
        padding: 30px 0;
    }

    .columnist-post-title {
        font-size: 12pt;
        line-height: 12pt;
    }

    .columnist-post-details {
        padding: 10px;
    }

    .columnist-post-author {
        display: none;
    }

    .columnist-post-date {
        bottom: 5px;
    }

    .columnist-post {
        height: auto;
    }

    .tile {
        box-shadow: none;
    }

    .tile-medium {
        background-image: none!important;
        background-color: #01c0af;
        margin-bottom: 0;
        border: none;
    }

    .tile-medium .tile-text {
        width: 70%;
    }

    .tile-medium .tile-title {
        line-height: 20pt;
        margin-top: 15px;
    }

    .tile-background-mobile {
        display: block;
    }

    .tile-small {
        background-size: 36%;
    }

    .tile-small, .tile-small .tile-text {
        overflow: hidden;
    }

    .tile-small .tile-text {
        bottom: -1px;
    }

    .socials-mobile {
        display: block;
        position: absolute;
        right: 20px;
        bottom: 35px;
    }

    .socials-mobile a {
        display: inline-block!important;
    }

    .socials-mobile .social-item {
        width: 20px;
        height: 20px;
        margin-left: 5px;
    }
    body {
        background-color: #fff;
        padding: constant(safe-area-inset-top)
                 constant(safe-area-inset-right)
                 constant(safe-area-inset-bottom)
                 constant(safe-area-inset-left) !important;
    }

    .new-posts {
        background-position: center 40px;
    }

    .page-heading-h2 {
        font-size: 20pt;
        font-family: 'ArnoPro', serif;
        font-weight: normal;
        margin: 0 auto 20px auto;
        text-align: left;
    }

    .grid {
        margin-top: 22px;
        margin-bottom: 0;
    }

    .grid .col-md-6, .grid .col-md-3 {
        padding: 0!important;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (orientation: landscape) and (min-width: 576px) and (max-width: 991.98px) {
    .site-header a {
        font-size: 8pt;
    }

    .post-details {
        height: 180px;
    }

    .post-title {
        font-size: 12pt;
    }

    .slider-post-title {
        font-size: 23pt;
        width: 60%;
        line-height: 23pt;
        left: 7%;
    }

    .slider-post-tags {
        left: 7%;
    }

    .slider-post-hashtag {
        right: 7%;
    }

    .tile-medium .tile-text {
        width: 65%;
    }

    .tile {
        background-size: 76%;
        background-position: 189% center;
    }

    .tile-small {
        background-image: none!important;
    }

    .tile-small .tile-text {
        width: 100%;
    }

    .tile-img, .post-img {
        height: 150px;
    }

    .tile-large .tile-text, .tile-square .tile-text {
        padding: 10px 20px;
        height: auto;
    }

    .tile-title {
        height: initial;
    }

    .native-rklm-container {
        padding: 0;
    }

    .native-rklm {
        padding: 100px 0;
        width: 100%;
        margin: 30px 0;
    }

    .posts-row {
        width: 100% !important;
    }

    .post-rklm {
        display: none;
    }

    .newsletter {
        background-position: 120% center;
        padding: 20px 50px 40px 50px;
    }

    .newsletter-title {
        font-size: 25pt;
        line-height: 25pt;
    }

    .newsletter .form-group {
        width: 30%;
        margin-right: 7px;
    }
}

@media (min-width: 1500px) {
    .blog-header-content {
        padding-top: 5rem!important;
        padding-bottom: 3rem!important;
    }

    .blog-header-logo img {
        width: 350px;
    }

    .site-header a {
        font-size: 12pt;
    }

    .slider-post-title {
        left: calc(7.5%);
        font-size: 50pt;
        line-height: 50pt;
    }

    .slider-post-tags a, .slider-post-hashtag {
        font-size: 8pt;
    }

    .slider-post-tags, .slider-post-hashtag {
        right: calc(7.5%);
    }

    .grid, .stylized-container {
        width: 85%;
    }

    .grid {
        border-bottom: 3px solid #ccc;
    }

    .tile-label, .post-label {
        font-size: 8pt;
    }

    .post-title {
        font-size: 18pt;
        line-height: 18pt;
        font-weight: 300;
    }

    .post-rklm {
        height: 550px;
    }

    .post-rklm div {
        line-height: 550px;
    }

    .newsletter {
        padding: 130px 100px;
    }

    .newsletter-title {
        font-size: 45pt;
        line-height: 45pt;
        margin-bottom: 40px;
        margin-top: 0;
    }

    .page-heading-h2 {
        font-size: 40pt!important;
        margin-bottom: 30px!important;
    }

    .tile-medium, .tile-small {
        height: 180px;
    }

    .tile-medium .tile-text, .tile-medium .tile-text {
        padding: 30px;
    }

    .tile-label {
        font-size: 8pt;
    }

    .tile-title, .tile-title a {
        line-height: 20pt;
        margin-top: 15px;
        font-size: 20pt;
        height: 50px;
        font-weight: 300;
    }

    .tile-img {
        height: 360px;
    }

    .tile-large .tile-text, .tile-square .tile-text {
        height: 200px;
        padding: 20px 80px;
    }

    .tile-square .tile-text {
        padding: 20px;
    }

    .tile-large .tile-title {
        width: 50%;
    }

    .tile-date, .post-date {
        font-size: 10pt!important;
    }

    .native-rklm {
        width: 70%!important;
        padding: 222px 0;
        font-size: 25pt;
    }

    .tile-img, .post-img:not(.similar-post-img) {
        height: 400px;
    }

    .blog-header-logo img {
        width: 300px!important;
    }

    .article-header h1 {
        font-size: 50pt;
        line-height: 50pt;
    }
}

@media (min-width: 768px) {
    .tile-medium .tile-title {
        width: 80%;
    }

    .grid, .stylized-container {
        width: 85%;
    }

    .tile-large .tile-title {
        line-height: 20pt;
        width: 60%;
    }

    .posts-row {
        width: 85%;
        margin: 0 auto;
    }

    .blog-header-content {
        text-align: center;
        padding: 22px 0 0;
    }

    .blog-header-logo img {
        width: 200px;
    }
}
